@font-face
    font-family: Lora
    src: url("/assets/fonts/Lora/Lora-Regular.ttf")

::-webkit-input-placeholder
    color: rgba(130,114,192,0.5) !important

::-moz-placeholder
    color: rgba(130,114,192,0.5) !important

:-moz-placeholder
    color: rgba(130,114,192,0.5) !important

:-ms-input-placeholder
    color: rgba(130,114,192,0.5) !important

::selection
    background: rgba(130,114,192,0.5) !important
    color: white

::-moz-selection
    background: rgba(130,114,192,0.5) !important
    color: white

a,
a:hover,
a:active,
a:focus,
a:visited
    outline: 0
    color: black

#contact-form
    max-width: 800px
    margin: 0 auto

select
    height: 50px

.highlighter
    color: #FF6D43

.visible
    display: block

.form-control:focus,
select.form-control:focus
    box-shadow: 0 0 8px $main-color
    border: 1px solid $main-color

.form-control,
select.form-control
    border: 1px solid $main-color
    height: 45px
    color: $main-color-dark
    font-size: 25px
    box-shadow: 0 0 0 $main-color

input[type="checkbox"]
    margin-right: 10px

textarea.form-control
    font-size: 18px
    resize: none

.form-group label
    font-size: 18px
    font-weight: 200

h2
    font-weight: 100
    text-align: center

h3
    font-weight: 400
    color: $main-color-dark

.button
    border: none
    width: 120px
    color: white
    font-size: 28px
    font-weight: 100
    color: #EFE9E9
    background: $main-color
    // box-shadow: 0 1px 1px rgba(0,0,0,0.575)
    // display: block
    transition: all 0.2s ease-in-out
    background-color: $main-color


    &:hover
        background: $main-color-dark
        color: white

    &:focus
        outline: none

// .pagination
//     text-align: center !important
//     margin: 0 auto


.pagination li span,
.pagination li a
    // margin: 0 10px
    // border-radius: 50% !important

.pagination > .active > a
    background: $main-color
    border-color: $main-color
    color: white

.pagination > li > a,
.pagination > li > span,
.pagination > .active > span:hover,
    background: white
    border-color: $main-color
    color: $main-color
    // box-shadow: 1px 1px 2px rgba(77, 55, 165, 0.2)

.pagination > .active > a:hover
    background: $main-color
    color: white
    border-color: $main-color


.pagination > li > a:hover,
.pagination > li > a:focus
    // background: $main-color
    // border-color: $main-color
    background: white
    border-color: $main-color
    color: $main-color

.pagination > .disabled > a,
.pagination > .disabled > a:hover
    color: $main-color
    border-color: $main-color

//     background-color: #EAEAEA
//     border-color: #EAEAEA

// .pagination > li > a:hover,
// .pagination > li > a:focus
//     background: #f5f0f0
//     border-color: #BF9D9D
//     color: #BF9D9D
//     text-decoration: underline

// .pagination > .active > span:hover
//     background: #BF9D9D
//     color: #EFE9E9

body
    font-family: 'Helvetica Neue', 'Open Sans', sans-serif
    //'Lora'
    font-size: 18px
    background: url("/assets/img/1.jpeg") 50%
    background-size: cover
    background-attachment: fixed

    #content
        line-height: 1.7
        color: black
        font-size: 16px
        font-weight: 300
        letter-spacing: .5px
        background: #edebf6

        .section-title
            color: white
            background: rgba(130,114,192,0.5)
            font:
                size: 72px
                weight: 100
            text-align: center
            margin: 0 0 50px 0
            padding: 50px 0

        .section-content
            padding: 0 80px 50px 80px

#post-block
    display: none

.flex-block
    display: flex
    margin-bottom: 30px

.inline-button
    height: 45px
    width: 40px
    font-size: 25.5px
    font-weight: bold
    box-shadow: none

#plus-button
    line-height: 1.9

.item-meta-info
    position: absolute
    top: 0
    right: 0
    margin: 5px
    color: $main-color-dark
    font-size: 12px
    font-weight: 100
//
// .pagination-block
//     text-align: center
.pagination
    margin: 0

.items-list li
    background: rgb(246, 245, 251)

.items-list a,
#comments-block li
    padding: 20px

.items-list
	list-style: none
	padding: 0
	color: black
	//$main-color-dark

	li
		border-radius: 4px
		position: relative
		box-shadow: 3px 3px 5px rgba(77,55,165,0.2)
		background-color: white
		margin: 60px 0
		// box-shadow: 0 0 10px rgba(77,55,165,0.3)
		cursor: pointer
		transition: all 0.2s ease-in-out

		// &:hover
		// 	background-color: $main-color-light


		a
			margin: 0
			text-decoration: none
			display: flex

			.post-thumbnail
				height: 100%
				border-radius: 4px 0 0 4px

			.item-info
				// margin: 20px
				font-size: 16px

.page-number
	text-align: center
	color: $main-color-dark
	margin: 0
	font-weight: 100

.item-title
	text-align: center
	margin: 0 0 20px
	font-weight: 500
	color: #4D37A5


.item-text
	background: white
	box-shadow: 3px 3px 5px rgba(77, 55, 165, 0.2)
	padding: 50px
	margin: 50px 0
	// color: black
