::-webkit-input-placeholder
	color: #FFCABB !important;

::-moz-placeholder
	color: #FFCABB !important;

:-moz-placeholder
	color: #FFCABB !important;

:-ms-input-placeholder
	color: #FFCABB !important;

::selection
	background: #FF8968;
	color: #FFF1F0;

::-moz-selection
	background: #FF8968;
	color: #FFF1F0;

a,
a:hover,
a:active,
a:focus,
a:visited
	outline: 0;
	color: #FF4916;

.highlighter
	color: #FF6D43;

.form-control,
.form-control:focus
	border: 1px solid #FF8968 !important;

.form-control
	height: 45px;
	background: rgba(255, 241, 240, 0.5);
	color: rgba(169, 68, 66, 0.8);
	font-size: 25px;

textarea.form-control
	font-size: 18px;
	resize: none;

.form-control:focus
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 4px #FF8968;

.form-group label
	color: #FF8968;
	font:
		size: 30px;
		weight: normal;

.button
	border: none;
	color: white;
	background: #FF8968;
	border-radius: 4px;
	box-shadow: 0 1px 1px rgba(0,0,0,0.575);

	&:hover
		background: rgba(169, 68, 66, 0.8);
		color: white;

	&:focus
		outline: none;

.pagination > .active > span
	background: #FF8968;
	border-color: #FF8968;

.pagination > li > a,
.pagination > li > span,
.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .active > span:hover
	border-color: #FF8968;
	color: #FF8968;

.pagination > li > a:hover,
.pagination > li > a:focus
	background: white;
	border-color: #FF8968;
	color: #FF8968;
	text-decoration: underline;

.pagination > .active > span:hover
	background: #FF8968;
	color: white;

body
	font-family: 'Ubuntu Mono';
	font-size: 18px;

#content
	line-height: 1.7;
	border-radius: 4px;
	color: #861311;
	padding: 70px;

#page-title
	position: absolute;
	top: 178px;
	left: 50px;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.375);
	color: white;
	margin: 0;
	font-size: 48px;
	// font-style: italic;