@font-face
    font-family: Lora
    src: url("/assets/fonts/Lora/Lora-Regular.ttf")

::-webkit-input-placeholder
    color: #C1A2A2 !important

::-moz-placeholder
    color: #C1A2A2 !important

:-moz-placeholder
    color: #C1A2A2 !important

:-ms-input-placeholder
    color: #C1A2A2 !important

::selection
    background: #C1A2A2 !important
    color: #EFE9E9

::-moz-selection
    background: #C1A2A2 !important
    color: #EFE9E9

a,
a:hover,
a:active,
a:focus,
a:visited
    outline: 0
    color: #7B4140

form
    max-width: 680px
    margin: 0 auto

select
    height: 50px

.highlighter
    color: #FF6D43

// .content-section,
// .sidebar-content
//     display: none

.visible
    display: block

.form-control:focus,
select.form-control:focus
    border: 1px solid rgba(191, 157, 157, 1)

.form-control,
select.form-control
    border: 1px solid rgba(191, 157, 157, 0.5)
    height: 45px
    background: rgb(245, 240, 240)
    color: #a94442
    font-size: 25px
    box-shadow: none !important
    border-radius: 0

input[type="checkbox"]
    margin-right: 10px

textarea.form-control
    font-size: 18px
    resize: none

.form-group label
    font-size: 18px

h2
    font-weight: bold

.button
    border: none
    color: #EFE9E9
    background: #bf9d9d
    // box-shadow: 0 1px 1px rgba(0,0,0,0.575)
    // display: block

    &:hover
        background: rgb(107, 78, 77)
        color: #fffbc0

    &:focus
        outline: none

.pagination > .active > span
    background: #BF9D9D
    border-color: #BF9D9D
    color: #f5f0f0

.pagination > li > a,
.pagination > li > span,
.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .active > span:hover,
    background: #EFE9E9
    border-color: #BF9D9D
    color: #BF9D9D

.pagination > li > a:hover,
.pagination > li > a:focus
    background: #f5f0f0
    border-color: #BF9D9D
    color: #BF9D9D

.pagination > .disabled > span,
    background-color: #e8dfdf

// .pagination > li > a:hover,
// .pagination > li > a:focus
//     background: #f5f0f0
//     border-color: #BF9D9D
//     color: #BF9D9D
//     text-decoration: underline

.pagination > .active > span:hover
    background: #BF9D9D
    color: #EFE9E9

.pagination > li:first-child > span,
.pagination > li:last-child > span,
.pagination > li:first-child > a,
.pagination > li:last-child > a,
    border-radius: 0

body
    font-family: 'Helvetica Neue', 'Open Sans', sans-serif
    //'Lora'
    font-size: 18px
    background: url("/assets/img/1.jpeg") 50% 10%
    background-size: cover
    background-attachment: fixed

    #content
        line-height: 1.7
        color: #6D4949
        font-size: 16px
        letter-spacing: .5px
        background: white
        //#eee
        //#EFE9E9

        .section-title
            // background-color:
            //rgb(75, 125, 225)
            color: rgb(107, 78, 77)
            font-weight: bold
            text-align: center
            padding: 50px 0
            margin: 0

        .section-content
            padding: 50px 80px

// posts

#post-block
    display: none

.flex-block
    display: flex
    margin-bottom: 30px

.inline-button
    height: 45px
    width: 40px
    font-size: 25.5px
    font-weight: bold
    box-shadow: none

#plus-button
    line-height: 1.9
