#me-img
    border-radius: 50%;
    width: 300px;
    margin: 20px auto;
    border: 4px solid #6b4e4d;
    display: block;

#submit-email-button
    // float: right;
    width: 120px;
    font-size: 28px;
    font-weight: bold;

#email-textarea
    height: 250px;
