#me-img
    border-radius: 50%
    width: 300px
    margin: 0 auto 30px
    border: 7px solid white
    box-shadow: 3px 3px 5px rgba(77, 55, 165, 0.2)
    display: block
    transition: all 1s ease-in-out
    transform: scale(0) rotate(0deg)

    &.visible
        transform: scale(1) rotate(360deg)

.my-info
    background: white
    box-shadow: 0 0 10px rgba(77, 55, 165, 0.1)
    // box-shadow: 3px 3px 5px rgba(77, 55, 165, 0.2)
    border-radius: 4px
    padding: 50px
