#categories

	#categories-list
		list-style: none
		margin: 0 0 50px 0
		padding: 0
		text-align: center

		div
			border-radius: 50%
			background: white
			box-shadow: 3px 3px 5px rgba(77, 55, 165, 0.2)
			// transition: all 0.2s ease-in-out

			&.laravel:hover
				background: rgba(251,80,59,0.3)

			&.nodejs:hover
				background: rgba(136, 192, 67, 0.3)

			&.meteor:hover
				background: rgba(60, 63, 80, 0.3)

			&.jquery:hover
				background: rgba(8, 104, 172, 0.3)

		li
			display: inline-block
			text-align: center
			font-size: 24px
			cursor: pointer
			color: $main-color-dark
			margin: 0 20px

			a
				text-decoration: none

				.category-img-wrapper
					width: 150px
					height: 150px
					// border-radius: 50%
					// border: 2px solid $main-color-dark
					display: flex
					justify-content: center
					align-items: center

					img
						width: 100px

				figcaption
					color: $main-color-dark
					font-weight: 100
					// margin: 15px 0 25px 0

// comments
#post-title
	text-align: center
	margin: 0 0 20px
	font-weight: 500
	color: #4D37A5

.post-text
	background: white
	box-shadow: 3px 3px 5px rgba(77, 55, 165, 0.2)
	padding: 50px
	margin: 50px 0
	color: #4d37a5

#post-meta-info
	color: grey
	font-size: 12px
	text-align: right
	margin-top: 20px

// #comment-form
// 	position: relative
// 	top: 0
// 	left: -80px
// 	background: rgb(237, 235, 246)
// 	width: 100vw
// 	padding: 50px 80px
