header
	height: 100vh
	position: relative
	display: flex
	justify-content: center
	align-items: center

	#welcome
		width: 70%
		text-align: center
		color: #EFE9E9
		// font-weight: bold
		font-size: 36px
		font-weight: 100
		text-shadow: 0px 2px 3px #6b4e4d
		// display: none
