header
	height: 100vh
	position: relative
	display: flex
	justify-content: center
	align-items: center

	#welcome
		width: 70%
		line-height: 1.4
		letter-spacing: 2px
		text-align: center
		color: #EFE9E9
		font-size: 36px
		font-weight: lighter
		text-shadow: 0px 2px 5px #000

		#discover-button
			transition: all 0.3s ease-in-out
			box-shadow: 0 0 0 #3796A5
			&:hover
				box-shadow: 0 0 35px #3796A5


		.btn-primary
			background-color: #3796A5
			//#3A7896
			border-color: #3796A5
			//#3A7896
			width: 200px
			height: 70px
			margin-top: 25px
			font:
				size: 28px
				weight: 100
