nav
	position: fixed;
	z-index: 3;
	height: 100vh;//300px;
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	align-items: flex-end;
	// justify-content: space-around;
	// box-shadow: 0 2px 6px #6b4e4d;
	background-color: rgba(107, 78, 77, 0);

	.nav-item-link
		// opacity: 1;
		display: none;
		color: #EFE9E9;
		font-weight: bold;
		font-size: 28px;
		position: relative;
		margin: 5px 20px;
		// outline: none;
		text-shadow: 0px 2px 3px #6b4e4d;//black;
		// padding: 0;

		&.active
			color: #fffbc0

		&:hover
			color: rgb(255, 251, 192);
			cursor: pointer;

	// .nav-item-link:hover,
	// .nav-item-link:focus
	// 	outline: none;

	// .nav-item-link
	// 	padding: 0;

	// #search-icon
	// 	color: rgb(255, 251, 192);//#EFE9E9;
	// 	font-size: 36px;
	// 	position: absolute;
	// 	top: 12px;
	// 	right: 14px;
	// 	cursor: pointer;
	// 	text-shadow: 0px 2px 3px #6b4e4d;
	// 	transform: scale(1);
	// 	transition: transform 0.3s ease-in-out;

	// 	&:hover,
	// 	&.active
	// 		transform: scale(1.3);

	// .nav-item-link::after,
	// 	position: absolute;
	// 	top: 100%;
	// 	left: 0;
	// 	width: 100%;
	// 	height: 1px;
	// 	background: rgb(255, 251, 192);//#EFE9E9;//#6b4e4d;//black;//#6b4e4d;//black;//#EFE9E9;
	// 	content: '';
	// 	opacity: 0;
	// 	-webkit-transition: height 0.3s, opacity 0.3s, -webkit-transform 0.3s;
	// 	-moz-transition: height 0.3s, opacity 0.3s, -moz-transform 0.3s;
	// 	transition: height 0.3s, opacity 0.3s, transform 0.3s;
	// 	-webkit-transform: translateY(-10px);
	// 	-moz-transform: translateY(-10px);
	// 	transform: translateY(-10px);

	// .nav-item-link:hover::after,
	// .nav-item-link:focus::after,
	// .nav-item-link.active::after
	// 	height: 5px;
	// 	opacity: 1;
	// 	-webkit-transform: translateY(0px);
	// 	-moz-transform: translateY(0px);
	// 	transform: translateY(0px);

	// #search-overlay
	// 	position: absolute;
	// 	width: 100%;
	// 	height: 100%;
	// 	top: 0;
	// 	left: 0;
	// 	opacity: 0;
	// 	z-index: -1;
	// 	background: black;//#6b4e4d;
	// 	display: flex;
	// 	align-items: center;
	// 	justify-content: center;
	// 	transition: all .3s ease-in-out;

	// 	&.search-shown
	// 		opacity: 0.95;
	// 		z-index: 100;

	// #search-input
	// 	margin: 0 20px;
	// 	background: none;
	// 	width: 100%;
	// 	text-align: center;
	// 	border: none;
	// 	font-size: 36px;
	// 	color: #EFE9E9;
	// 	outline: none;

	// 	&::-webkit-input-placeholder
	// 		color: #C1A2A2;

	// 	&::-moz-placeholder
	// 		color: #C1A2A2;

	// 	&:-moz-placeholder
	// 		color: #C1A2A2;

	// 	&:-ms-input-placeholder
	// 		color: #C1A2A2;
