nav
	transition: all 0.5s ease-in-out
	transform: translateY(-100%)
	margin: 0 !important
	border: none !important
	background: rgba(77,55,165,1) !important
	box-shadow: 0 1px 3px #4D37A5

	.navbar-collapse
		border: none
		max-height: 400px !important

	&.shown
		transform: translateY(0)

	.container-fluid
		padding: 0

		li
			height: 60px !important
			a
				display: inline-block !important
				line-height: 1.4 !important

	.social-links
		li
			margin: 0 20px 0 0
			display: flex
			justify-content: center
			align-items: center
			a
				padding: 0
				margin: 0 5px

	.menu-links
		margin: 0
		li
			color: white
			font-weight: 100
			font-size: 32px
			margin: 0 20px

			a
				height: 100%
				padding: 5px 0 0 0
				border-top: 2px solid rgba(77,55,165,1)
				color: white !important

				&:hover,
				&.current
					border-top: 2px solid white

	.social-links

		.fa-stack
			width: 1.7em
			border-radius: 50%
			&:hover
				i:last-child
					color: white

		.fa-circle
			color: white

		.fa-inverse
			color: $main-color-dark

		.rss:hover
			i:first-child
				color: #F90

		.twitter:hover
			i:first-child
				color: #04B7EC

		.facebook:hover
			i:first-child
				color: #4A6EAA

		.linkedin:hover
			i:first-child
				color: #0077B5

		.google-plus:hover
			i:first-child
				color: #DC4A38

		.github:hover
			i:first-child
				color: #323131


@media (max-width : 768px)
	.navbar-toggle
		margin-right: 25px
		border-color: white !important

		&:hover,
		&:focus
			background-color: white !important
			span
				background-color: #8539AD !important

		span
			background-color: white !important

	.menu-links
		li
			margin: 0 !important
			a
				padding: 7px 0 0 0 !important
				width: 100%
				border: none !important
				text-align: center

				&:hover,
				&.current
					background: rgb(61, 44, 130) !important
					border: none !important
					color: white
	.social-links
		li
			padding: 0
			margin: 0 !important

@media (min-width : 768px) and (max-width : 977px)
	.navbar-nav
		float: none
		text-align: center
		li
			float: none
			display: inline-block

	.navbar-collapse
		text-align: center !important

		.social-links
			display: none
